* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    /* overflow: hidden; */
}


* {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* header  */
.header-logo {
    width: 70px;
    height: 70px;
}

.bg-header-mycolor {
    background-color: #19495d;
}

.nav-item {
    font-weight: 500;
    font-size: 14px;
}

.btn {
    background-color: #ed4368;
    color: white;
}

/* Hero Section */

.para {
    font-size: 12px;
    color: #19495d;
    font-weight: 500;
}

.bg-mycolor {
    background-color: #F2F1F4;
}


.logo-hero {
    height: 200px;
    width: 200px;
    border: none;
    border-radius: none;
    margin-left: -30px;
}



/* featured section */
/* .img-fluid{
    width: 200px;
    height: 200px;
} */

/* third section  */
.card-body {
    background-color: #F2F1F4;
}

.card-body img {
    width: 80px;
    height: 80px;
}

.mb-4 {
    color: #ed4368;
}

.line {
    height: 3px;
    background-color: #19495d;
    border: none;
}


/* section4  */

.work-color {
    background-color: #19495d;
}


.work-img {
    width: 500px;
    height: 600px;
    object-fit: cover;
}

.line-2 {
    height: 3px;
    background-color: #ffffff;
    border: none;
}

/* Second Last Section  */
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #19495d;
}

.h6, h6{
    color: #ed4368;
}

/* .work-2{
    background-color: #ed4368;
} */


/* last section  */
.work-color-2 {
    background-color: #ed4368;
}

/* Mobile view: max 767px (Bootstrap's breakpoint for sm devices) */
@media (max-width: 767px) {
    .work-img {
        width: 100%;
        height: auto;
        margin-left: -5px;
    }
}